Repository spacetelescope/stsynphot_refactor, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, testing, installation, catalog, config, observationmode, spectrum, spparser, stio, tables, wavetable

fix link issues
  docs/conf.py
  stsynphot/exceptions.py
  stsynphot/spectrum.py
Labels: docs, spectrum

Remove AstroConda installation instructions
  docs/index.rst
Labels: docs

apply review comments
  stsynphot/spectrum.py
Labels: spectrum

update docstring
  stsynphot/spectrum.py
Labels: spectrum

revert change
  stsynphot/spectrum.py
Labels: spectrum

Update docs/conf.py
  docs/conf.py
Labels: docs

Revert out-of-scope changes
  stsynphot/spectrum.py
Labels: spectrum

.github/labeler.yml:

docs:
  - .github/**/*.md
  - .readthedocs.yaml
  - docs/**/*
  - docs/_static/*
  - docs/_templates/*
  - legacy_materials/*
  - LICENSE
  - licenses/*
  - '*.md'
  - any: ['*.rst', '!CHANGES.rst']

testing:
  - .bandit.yaml
  - .github/**/*.yml
  - conftest.py
  - tox.ini
  - stsynphot/tests/**/*
  - stsynphot/commissioning/**/*

installation:
  - MANIFEST.in
  - pyproject.toml
  - setup.*

catalog:
  - stsynphot/catalog.py

config:
  - stsynphot/config.py
  - docs/stsynphot/config.rst

observationmode:
  - stsynphot/observationmode.py

spectrum:
  - stsynphot/spectrum.py

spparser:
  - stsynphot/spark.py
  - stsynphot/spparser.py

stio:
  - stsynphot/data/irafshortcuts.txt
  - stsynphot/stio.py

tables:
  - stsynphot/tables.py

wavetable:
  - stsynphot/data/detectors.dat
  - stsynphot/data/wavecats/*
  - stsynphot/wavetable.py
