Repository spacetelescope/stsynphot_refactor, pull requests merged in 2020-01, with the labels that each got.

#97 Added 2MASS and WFIRST to Appendix B docs
  docs/index.rst
  docs/stsynphot/appendixb_nonhst.rst
Labels: Upstream Fix Required, docs, observationmode

#99 Fixed typo in WFIRST OBSMODE description.
  docs/stsynphot/appendixb_nonhst.rst
Labels: bug, docs

#100 DOC: Add Brown Atlas to Appendix A
  docs/index.rst
  docs/stsynphot/appendixa.rst
  docs/stsynphot/data_atlas.rst
Labels: catalog, docs

#103 BUG: Fix parse_spec
  CHANGES.rst
  azure-pipelines.yml
  stsynphot/spparser.py
  stsynphot/tests/test_parser.py
Labels: :fire:, bug, spparser

#104 MNT: So we can remove setuptools from conda-forge recipe
  stsynphot/__init__.py
Labels: installation

#105 MNT: Move coveragerc
  setup.cfg
  stsynphot/tests/coveragerc
Labels: testing
